*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    font-size: 100%;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-size-adjust: 100%;
}

html,body {
    height: 100%;
    font-family: "AtlasTypewriterRegular", "Andale Mono", "Consolas", "Lucida Console", "Menlo", "Luxi Mono", monospace;
    font-style: normal;
    font-weight: 400;
}

body {
    position: relative;
    margin: 0;
    background-color: white;
}

::-moz-selection {
    background: black;
    color: white;
    text-shadow: none;
}

::selection {
    background: black;
    color: white;
    text-shadow: none;
}

[hidden],template,.hidden,#stage_probe {
    display: none !important;
    visibility: hidden;
}

.invisible,.preference input[type="radio"] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

[disabled],.disabled {
    cursor: default;
}