.post-avatar {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
}

.post .avatar-container {
  display: inline-block;
}

.post .avatar-container img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.post-content {
  display: block;
  word-wrap: break-word;
}

.post-content .retweet {
  background-color: #f2f2f2 !important;
  padding: 10px;
  margin: 10px 0;
  max-width: 780px;
}

.post-content .retweet p {
  color: #595959;
  font-size: 0.8rem;
}

.post-content .retweet a {
  text-decoration: none;
  border-bottom: 1px solid;
  background: transparent;
  font-size: 0.75rem;
  color: #333333;
}

.post-content .retweet img {
  width: 140px;
}

.post {
  position: relative;
  padding-left: 90px;
  padding-bottom: 40px;
}

.post>div:last-child {
  margin-bottom: 3.75rem;
}

.post p a {
  border-bottom: 1px solid;
  text-decoration: none;
  color: inherit;
}

.post p a:hover {
  color: #c7c7c7;
  outline: none;
}

.post p, .post img {
  margin-bottom: 1.25rem;
  margin-top: 0;
  max-width: 780px;
  max-height: 200px;
  overflow: hidden;
}

.post img.scaled {
  max-height: 2000px;
  max-width: 800px;
  width: 440px;
}

.postbar {
  color: #c7c7c7;
}

span.like-count,
span.reposts-count,
span.comments-count {
  padding-left: 5px;
}

.post .postbar {
  margin-top: -0.5rem;
}

/* Animations */
.scale-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.scale-enter.scale-enter-active {
  opacity: 1;
}

.scale-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.scale-leave.scale-leave-active {
  opacity: 0.01;
}