.profile {
  position: relative;
}

.profile .profile-avatar {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0px;
  margin-top: 30px;
}

.profile .profile-avatar .avatar-container {
  display: inline-block;
}

.profile .profile-avatar .avatar-container img {
  width: 180px;
  height: 180px;
  border-radius: 90px;
}

.profile .profile-body {
  height: 240px;
  overflow: hidden;
  padding-top: 0;
  margin-left: 200px;
}

.profile .profile-body .heading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 1.35;
  color: #231f20;
  font-family: "AtlasGroteskBold", "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

.profile .profile-body .heading a {
  background: transparent;
  color: inherit;
  text-decoration: none;
}

.profile .profile-deets {
  color: #999999;
}